// COLORS 
$col1 :#050b21;
$col2 : #0b1231;
$col3 : #101746;
$col4 : #131c5c;
$col5 : #1a2989;
$col6 : #203fca;
$col7 : #3c69e1;
$col8 : #6296ed;
$col9 : #8cb3f4;
$col10 : #b3d1fd;
$col11 : #ffffff;
$colh : #00a2fa;
$colhh : #00c0fa;

// SIZES
$content_size_big : 1200px;
$content_size_med : 1000px;
$content_size_small : 700px;
$content_size_mobile : 600px;
$maxContentTextBlockWidth : 600px;

//FONTS
$font_title : 'Rajdhani';
$font_important : 'Rajdhani';
$font_contnent: 'Roboto';